@import '../../../css/vars.css';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login {
  width: 50rem;
  height: 60rem;
  background: url(/assets/svg/login-bg.svg) no-repeat center center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-logo {
    margin-top: 10rem;

    & i {
      font-size: 7rem;
      color: var(--blue);
    }
  }

  &-inputs {
    margin-top: 4rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
