{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-dynamic-import",
    "@babel/plugin-transform-modules-commonjs",
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-transform-react-jsx-source", "transform-react-stateless-component-name"]
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
